body{
    margin:0;
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1586783817749-7c202573334a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    overflow: hidden;  
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: azure;
}

.clock{
    display:flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 70px;
    background-color: blueviolet;
    opacity: .8;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(25, 0, 248);
    opacity: 0.8;

}

.clock #ampm{
    bottom: 235px;
    position: absolute;
    height: 30px;
    width: 60px;
    font-size: 20px;
    background-color: rgb(15, 87, 1);
}